@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.card {
    width: 350px;
    height: 598px;
    background-color: hsl(216, 50%, 16%);
    padding: 24px;
    border-radius: 15px;
}

.card__image {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card__heading {
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0 17px 0;
}

.card__catch-phrase {
    font-size: 18px;
    line-height: 1.45;
}

.card__description {
    display: flex;
    justify-content: space-between;
    margin: 23px 0 24px 0;
}

.card__ethereum {
    display: flex;
    gap: 6px;
}

.card__logo {
    object-fit: contain;
}

.card__price {
    color: hsl(178, 100%, 50%);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.card__time {
    display: flex;
    gap: 7px;
    padding-right: 3px;
    font-weight: 400;
}

.card__clock {
    object-fit: contain;
}

.card__credit {
    display: flex;
    align-items: center;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 15px;
    gap: 16px;
}

.card__avatar {
    width: 33px;
    object-fit: contain;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 17.5px;
}